<section id="home-header">
    <div class="container">
       <div class="right">
        <%= link_to "Johnnsonkp", root_path, class:"hero-text" %>
       </div>


        <!--hamburger menu -->
        <div id="hamburger-menu">
            <nav class="right">
                
                <div class="circle" id="open">
                    <%# <button id="close">
                        <i class="fas fa-times"></i>
                    </button> %>
                    <button id="open">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>


                <%# <label for="toggle"></label>
                <input type="checkbox" id="menuShowHide" id="toggle">
                <label for="menuShowHide"></label> %>
                    <ul id="mainMenu">
                        <li><%= link_to "Home", root_path, class:"menu-li home-li"%></li>
                        <li><%= link_to "Portfolio", home_portfolio_path, class:"menu-li portfolio"%></li>
                        <li><%= link_to "About", home_about_path, class:"menu-li about"%></li>
                        <li><%= link_to "Contact", home_contact_path, class:"menu-li contact"%></li>
                        <%= link_to 'Resume', asset_path("resume.pdf"), { :class=>"resume-button" } %>
                        
                    </ul> 
            </nav>
        </div>
    </div>
</section>